body {
  background-color: #786336;
}

.App {
  font-family: Arial;
}

.App-logo {
  width: 241px;
}

.App-body {
  text-align: center;
}

.Leaderboard {
  width: 600px;
  margin: 30px auto;
  background-color: #13355a;
  color: white;
  padding: 20px;
}

.Leaderboard-header {
  background-color: #0b1c2a;
  color: white;
  padding: 10px;
  text-align: left;
  font-family: 'Lucida Grande','Lucida Sans Unicode',sans-serif;
  font-weight: normal;
}

.Leaderboard table {
  border-collapse:collapse;
  border-color: grey;
  color:rgb(59, 58, 56);
  display:table;
  font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size:11px;
  line-height:16px;
  margin:20px 0;
  overflow-wrap:normal;
  width:100%;
}

.Leaderboard thead td {
  background-color: #0b1c2a;
  color: #3D689B;
  border: 1px solid #0b1c2a;
  text-transform: uppercase;
}

.Leaderboard tr:nth-child(even) {
  background-color: #dddcd2
}

.Leaderboard tr:nth-child(odd) {
  background-color: #d4d3c8
}

.Leaderboard td {
  border: 1px solid #c6c6bc
}

.NewLeader {
  background-color: #0b1c2a;
  color: white;
  padding: 10px;
  text-align: left;
}

.NewLeader label {
  font-size: 12px;
  margin-right: 14px;
}

.NewLeader label input {
  margin-left: 5px;
}
